;; -*- mode: clojure -*-
{:mono   {:token   nil #_ "from api.monobank.ua" ; `nil` - не чіпати моно
          ;; це `id` аккаунта в монобанку
          :account "Run this: bb donate.clj --accounts true"
          ;; це потрібно якщо треба обмежити історію транзакцій, UTC
          :since   nil #_ "2022-06-01T00:00:00Z"}
 :manual {:name "manual"}
 :pzh    {:tag  nil #_ "your-tag-here" ; `nil` - не чіпати ПЖ
          ;; тут у форматі метабейзу, тільда в кінці значить "від цієї
          ;; дати і далі"
          :date nil #_ "2022-06-01~"}
 :telegram {:token nil #_ "bot-token" ; `nil` - не чіпати телеграм
            ;; token взяти у https://t.me/botfather
            ;; chat взяти у браузері https://web.telegram.org/z/#-12312312 
            ;; додати бот у цей чат, щоб він міг туди писати
            :chat nil #_ "-12312312"}

 :db             "store.db"
 :target-balance 100000 ; у гривнях
 :absolute       "https://yourdomain.ngrok.io/" ; префікс, без урла
 :ip             "127.0.0.1" ; айпі, на якому запускається
 :port           1301 ; порт, на якому запускається

 :ui {:lang         :uk ; або :en
      :donate-url   nil ; урл, куди вести QR-код, якщо лінк на монобанк не підходить
      :donate-label "допоможи ЗСУ"}}
