{:token           ""
 :account         ""
 :start-balance   0
 :target-balance  100
 :since           "2022-06-14T10:35:24.00Z"
 :webhook         "https://1111-111-11-111-11.ngrok.io/webhook"
 :donate-url      "https://fwdays.com/event/stream-zaharchenko#donate"
 :donate-label    "допоможи ЗСУ"}